.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/9315217653ebb7bd6b0b06d9f37c6c655eb79b5d.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  margin: 502px 0 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 30px 0 30px 570px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 287px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 619px;
}

.u-section-2 .u-text-1 {
  width: 743px;
  margin: 30px auto 0;
}

.u-section-2 .u-slider-1 {
  min-height: 519px;
  margin: 0 auto 30px 0;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1080px;
  margin: 0;
}

.u-section-2 .u-image-1 {
  min-height: 460px;
  background-image: url("images/adonish.jpg");
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 460px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-3 {
  margin-left: 0;
  margin-bottom: 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin-left: 0;
  margin-right: 0;
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-layout-wrap-2 {
  width: 1080px;
  margin: 0;
}

.u-section-2 .u-image-2 {
  min-height: 460px;
  background-image: url("images/olha_kleykaya_2.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 460px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-5 {
  margin-left: 0;
  margin-bottom: 0;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin-left: 0;
  margin-right: 0;
  background-image: none;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-layout-wrap-3 {
  width: 1080px;
  margin: 0;
}

.u-section-2 .u-image-3 {
  min-height: 460px;
  background-image: url("images/voroniy_glaz1.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 460px;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px;
}

.u-section-2 .u-text-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-7 {
  margin-left: 0;
  margin-bottom: 0;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin-left: 0;
  margin-right: 0;
  background-image: none;
}

.u-section-2 .u-container-layout-10 {
  padding: 30px;
}

.u-section-2 .u-layout-wrap-4 {
  width: 1080px;
  margin: 0;
}

.u-section-2 .u-image-4 {
  min-height: 460px;
  background-image: url("images/klyausiya_solcepechnaya.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-11 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-8 {
  min-height: 460px;
}

.u-section-2 .u-container-layout-12 {
  padding: 30px;
}

.u-section-2 .u-text-8 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-9 {
  margin-left: 0;
  margin-bottom: 0;
}

.u-section-2 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin-left: 0;
  margin-right: 0;
  background-image: none;
}

.u-section-2 .u-container-layout-13 {
  padding: 30px;
}

.u-section-2 .u-layout-wrap-5 {
  width: 1080px;
  margin: 0;
}

.u-section-2 .u-image-5 {
  min-height: 460px;
  background-image: url("images/korovyak_fioletovyy.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-14 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-10 {
  min-height: 460px;
}

.u-section-2 .u-container-layout-15 {
  padding: 30px;
}

.u-section-2 .u-text-10 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-11 {
  margin-left: 0;
  margin-bottom: 0;
}

.u-section-2 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin-left: 0;
  margin-right: 0;
  background-image: none;
}

.u-section-2 .u-container-layout-16 {
  padding: 30px;
}

.u-section-2 .u-layout-wrap-6 {
  width: 1080px;
  margin: 0;
}

.u-section-2 .u-image-6 {
  min-height: 460px;
  background-image: url("images/zhabrica_poreznikovaya.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-17 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-12 {
  min-height: 460px;
}

.u-section-2 .u-container-layout-18 {
  padding: 30px;
}

.u-section-2 .u-text-12 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-13 {
  margin-left: 0;
  margin-bottom: 0;
}

.u-section-2 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin-left: 0;
  margin-right: 0;
  background-image: none;
}

.u-section-2 .u-container-layout-19 {
  padding: 30px;
}

.u-section-2 .u-layout-wrap-7 {
  width: 1080px;
  margin: 0;
}

.u-section-2 .u-image-7 {
  min-height: 460px;
  background-image: url("images/kostyanika1.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-20 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-14 {
  min-height: 460px;
}

.u-section-2 .u-container-layout-21 {
  padding: 30px;
}

.u-section-2 .u-text-14 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-15 {
  margin-left: 0;
  margin-bottom: 0;
}

.u-section-2 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin-left: 0;
  margin-right: 0;
  background-image: none;
}

.u-section-2 .u-container-layout-22 {
  padding: 30px;
}

.u-section-2 .u-layout-wrap-8 {
  width: 1080px;
  margin: 0;
}

.u-section-2 .u-image-8 {
  min-height: 460px;
  background-image: url("images/shipovnic.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-23 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-16 {
  min-height: 460px;
}

.u-section-2 .u-container-layout-24 {
  padding: 30px;
}

.u-section-2 .u-text-16 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-17 {
  margin-left: 0;
  margin-bottom: 0;
}

.u-section-2 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin-left: 0;
  margin-right: 0;
  background-image: none;
}

.u-section-2 .u-container-layout-25 {
  padding: 30px;
}

.u-section-2 .u-layout-wrap-9 {
  width: 1080px;
  margin: 0;
}

.u-section-2 .u-image-9 {
  min-height: 460px;
  background-image: url("images/Tulipa_patens.__..jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-26 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-18 {
  min-height: 460px;
}

.u-section-2 .u-container-layout-27 {
  padding: 30px;
}

.u-section-2 .u-text-18 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-19 {
  margin-left: 0;
  margin-bottom: 0;
}

.u-section-2 .u-btn-9 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin-left: 0;
  margin-right: 0;
  background-image: none;
}

.u-section-2 .u-container-layout-28 {
  padding: 30px;
}

.u-section-2 .u-layout-wrap-10 {
  width: 1080px;
  margin: 0;
}

.u-section-2 .u-image-10 {
  min-height: 460px;
  background-image: url("images/800px-Anmone_ptens_Pulsatlla_ptens.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-29 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-20 {
  min-height: 460px;
}

.u-section-2 .u-container-layout-30 {
  padding: 30px;
}

.u-section-2 .u-text-20 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-21 {
  margin-left: 0;
  margin-bottom: 0;
}

.u-section-2 .u-btn-10 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin-left: 0;
  margin-right: 0;
  background-image: none;
}

.u-section-2 .u-carousel-control-1 {
  width: 59px;
  height: 59px;
  background-image: none;
}

.u-section-2 .u-carousel-control-2 {
  width: 59px;
  height: 59px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1038px;
  }

  .u-section-2 .u-slider-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 880px;
  }

  .u-section-2 .u-image-1 {
    min-height: 375px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 375px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 880px;
  }

  .u-section-2 .u-image-2 {
    min-height: 375px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 375px;
  }

  .u-section-2 .u-layout-wrap-3 {
    width: 880px;
  }

  .u-section-2 .u-image-3 {
    min-height: 375px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 375px;
  }

  .u-section-2 .u-layout-wrap-4 {
    width: 880px;
  }

  .u-section-2 .u-image-4 {
    min-height: 375px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 375px;
  }

  .u-section-2 .u-layout-wrap-5 {
    width: 880px;
  }

  .u-section-2 .u-image-5 {
    min-height: 375px;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 375px;
  }

  .u-section-2 .u-layout-wrap-6 {
    width: 880px;
  }

  .u-section-2 .u-image-6 {
    min-height: 375px;
  }

  .u-section-2 .u-layout-cell-12 {
    min-height: 375px;
  }

  .u-section-2 .u-layout-wrap-7 {
    width: 880px;
  }

  .u-section-2 .u-image-7 {
    min-height: 375px;
  }

  .u-section-2 .u-layout-cell-14 {
    min-height: 375px;
  }

  .u-section-2 .u-layout-wrap-8 {
    width: 880px;
  }

  .u-section-2 .u-image-8 {
    min-height: 375px;
  }

  .u-section-2 .u-layout-cell-16 {
    min-height: 375px;
  }

  .u-section-2 .u-layout-wrap-9 {
    width: 880px;
  }

  .u-section-2 .u-image-9 {
    min-height: 375px;
  }

  .u-section-2 .u-layout-cell-18 {
    min-height: 375px;
  }

  .u-section-2 .u-layout-wrap-10 {
    width: 880px;
  }

  .u-section-2 .u-image-10 {
    min-height: 375px;
  }

  .u-section-2 .u-layout-cell-20 {
    min-height: 375px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 961px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 660px;
  }

  .u-section-2 .u-image-1 {
    min-height: 281px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 660px;
  }

  .u-section-2 .u-image-2 {
    min-height: 281px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-wrap-3 {
    width: 660px;
  }

  .u-section-2 .u-image-3 {
    min-height: 281px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-wrap-4 {
    width: 660px;
  }

  .u-section-2 .u-image-4 {
    min-height: 281px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-wrap-5 {
    width: 660px;
  }

  .u-section-2 .u-image-5 {
    min-height: 281px;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-wrap-6 {
    width: 660px;
  }

  .u-section-2 .u-image-6 {
    min-height: 281px;
  }

  .u-section-2 .u-layout-cell-12 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-wrap-7 {
    width: 660px;
  }

  .u-section-2 .u-image-7 {
    min-height: 281px;
  }

  .u-section-2 .u-layout-cell-14 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-wrap-8 {
    width: 660px;
  }

  .u-section-2 .u-image-8 {
    min-height: 281px;
  }

  .u-section-2 .u-layout-cell-16 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-wrap-9 {
    width: 660px;
  }

  .u-section-2 .u-image-9 {
    min-height: 281px;
  }

  .u-section-2 .u-layout-cell-18 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-wrap-10 {
    width: 660px;
  }

  .u-section-2 .u-image-10 {
    min-height: 281px;
  }

  .u-section-2 .u-layout-cell-20 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1466px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 366px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 520px;
  }

  .u-section-2 .u-image-1 {
    min-height: 443px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 520px;
  }

  .u-section-2 .u-image-2 {
    min-height: 443px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-wrap-3 {
    width: 520px;
  }

  .u-section-2 .u-image-3 {
    min-height: 443px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-wrap-4 {
    width: 520px;
  }

  .u-section-2 .u-image-4 {
    min-height: 443px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-wrap-5 {
    width: 520px;
  }

  .u-section-2 .u-image-5 {
    min-height: 443px;
  }

  .u-section-2 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-wrap-6 {
    width: 520px;
  }

  .u-section-2 .u-image-6 {
    min-height: 443px;
  }

  .u-section-2 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-wrap-7 {
    width: 520px;
  }

  .u-section-2 .u-image-7 {
    min-height: 443px;
  }

  .u-section-2 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-21 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-22 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-wrap-8 {
    width: 520px;
  }

  .u-section-2 .u-image-8 {
    min-height: 443px;
  }

  .u-section-2 .u-container-layout-23 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-24 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-25 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-wrap-9 {
    width: 520px;
  }

  .u-section-2 .u-image-9 {
    min-height: 443px;
  }

  .u-section-2 .u-container-layout-26 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-27 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-28 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-wrap-10 {
    width: 520px;
  }

  .u-section-2 .u-image-10 {
    min-height: 443px;
  }

  .u-section-2 .u-container-layout-29 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-30 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1185px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 248px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 320px;
  }

  .u-section-2 .u-image-1 {
    min-height: 273px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 320px;
  }

  .u-section-2 .u-image-2 {
    min-height: 273px;
  }

  .u-section-2 .u-layout-wrap-3 {
    width: 320px;
  }

  .u-section-2 .u-image-3 {
    min-height: 273px;
  }

  .u-section-2 .u-layout-wrap-4 {
    width: 320px;
  }

  .u-section-2 .u-image-4 {
    min-height: 273px;
  }

  .u-section-2 .u-layout-wrap-5 {
    width: 320px;
  }

  .u-section-2 .u-image-5 {
    min-height: 273px;
  }

  .u-section-2 .u-layout-wrap-6 {
    width: 320px;
  }

  .u-section-2 .u-image-6 {
    min-height: 273px;
  }

  .u-section-2 .u-layout-wrap-7 {
    width: 320px;
  }

  .u-section-2 .u-image-7 {
    min-height: 273px;
  }

  .u-section-2 .u-layout-wrap-8 {
    width: 320px;
  }

  .u-section-2 .u-image-8 {
    min-height: 273px;
  }

  .u-section-2 .u-layout-wrap-9 {
    width: 320px;
  }

  .u-section-2 .u-image-9 {
    min-height: 273px;
  }

  .u-section-2 .u-layout-wrap-10 {
    width: 320px;
  }

  .u-section-2 .u-image-10 {
    min-height: 273px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 878px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 758px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-3 .u-table-1 {
  margin: 29px auto 0 0;
}

.u-block-10cc-254 {
  background-image: none;
}

.u-section-3 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-3 .u-table-cell-5 {
  background-image: none;
}

.u-section-3 .u-table-cell-6 {
  width: 285px;
  margin-right: 285px;
  margin-left: 570px;
}

.u-section-3 .u-table-cell-7 {
  width: 285px;
  margin-right: 285px;
  margin-left: 570px;
}

.u-section-3 .u-table-cell-8 {
  width: 284px;
  margin-right: 286px;
  margin-left: 571px;
}

.u-section-3 .u-table-cell-9 {
  background-image: none;
}

.u-section-3 .u-table-cell-10 {
  width: 285px;
  margin-right: 285px;
  margin-left: 570px;
}

.u-section-3 .u-table-cell-11 {
  width: 285px;
  margin-right: 285px;
  margin-left: 570px;
}

.u-section-3 .u-table-cell-12 {
  width: 284px;
  margin-right: 286px;
  margin-left: 571px;
}

.u-section-3 .u-table-cell-13 {
  background-image: none;
}

.u-section-3 .u-table-cell-14 {
  width: 285px;
  margin-right: 285px;
  margin-left: 570px;
}

.u-section-3 .u-table-cell-15 {
  width: 285px;
  margin-right: 285px;
  margin-left: 570px;
}

.u-section-3 .u-table-cell-16 {
  width: 284px;
  margin-right: 286px;
  margin-left: 571px;
}

.u-section-3 .u-table-cell-17 {
  background-image: none;
}

.u-section-3 .u-table-cell-18 {
  width: 285px;
  margin-right: 285px;
  margin-left: 570px;
}

.u-section-3 .u-table-cell-19 {
  width: 285px;
  margin-right: 285px;
  margin-left: 570px;
}

.u-section-3 .u-table-cell-20 {
  width: 284px;
  margin-right: 286px;
  margin-left: 571px;
}

.u-section-3 .u-table-cell-21 {
  background-image: none;
}

.u-section-3 .u-table-cell-22 {
  width: 285px;
  margin-right: 285px;
  margin-left: 570px;
}

.u-section-3 .u-table-cell-23 {
  width: 285px;
  margin-right: 285px;
  margin-left: 570px;
}

.u-section-3 .u-table-cell-24 {
  width: 284px;
  margin-right: 286px;
  margin-left: 571px;
}

.u-section-3 .u-table-cell-25 {
  background-image: none;
}

.u-section-3 .u-table-cell-26 {
  width: 285px;
  margin-right: 285px;
  margin-left: 570px;
}

.u-section-3 .u-table-cell-27 {
  width: 285px;
  margin-right: 285px;
  margin-left: 570px;
}

.u-section-3 .u-table-cell-28 {
  width: 284px;
  margin-right: 286px;
  margin-left: 571px;
}

.u-block-10cc-289 {
  background-image: none;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-table-2 {
  height: 551px;
  margin: 30px 60px 0 0;
}

.u-block-10cc-297 {
  background-image: none;
}

.u-section-3 .u-table-header-2 {
  font-weight: 700;
  background-image: none;
}

.u-section-3 .u-table-cell-31 {
  background-image: none;
}

.u-section-3 .u-table-cell-32 {
  width: 285px;
  margin-right: 285px;
  margin-left: 570px;
}

.u-section-3 .u-table-cell-33 {
  background-image: none;
}

.u-section-3 .u-table-cell-34 {
  width: 285px;
  margin-right: 285px;
  margin-left: 570px;
}

.u-section-3 .u-table-cell-35 {
  background-image: none;
}

.u-section-3 .u-table-cell-36 {
  width: 285px;
  margin-right: 285px;
  margin-left: 570px;
}

.u-section-3 .u-table-cell-37 {
  background-image: none;
}

.u-section-3 .u-table-cell-38 {
  width: 285px;
  margin-right: 285px;
  margin-left: 570px;
}

.u-section-3 .u-table-cell-39 {
  background-image: none;
}

.u-section-3 .u-table-cell-40 {
  width: 285px;
  margin-right: 285px;
  margin-left: 570px;
}

.u-section-3 .u-table-cell-41 {
  background-image: none;
}

.u-section-3 .u-table-cell-42 {
  width: 285px;
  margin-right: 285px;
  margin-left: 570px;
}

.u-section-3 .u-table-cell-43 {
  background-image: none;
}

.u-section-3 .u-table-cell-44 {
  width: 285px;
  margin-right: 285px;
  margin-left: 570px;
}

.u-section-3 .u-table-cell-45 {
  background-image: none;
}

.u-section-3 .u-table-cell-46 {
  width: 285px;
  margin-right: 285px;
  margin-left: 570px;
}

.u-section-3 .u-table-cell-47 {
  background-image: none;
}

.u-section-3 .u-table-cell-48 {
  width: 285px;
  margin-right: 285px;
  margin-left: 570px;
}

.u-section-3 .u-table-cell-49 {
  background-image: none;
}

.u-section-3 .u-table-cell-50 {
  width: 285px;
  margin-right: 285px;
  margin-left: 570px;
}

.u-block-10cc-326 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 946px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 625px;
  }

  .u-section-3 .u-table-1 {
    height: 502px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-3 .u-table-2 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 432px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 916px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 712px;
  }
}